@keyframes open-sidebar {
    from {
        opacity: 0;
        width: 0;
    }
}

@keyframes close-sidebar {
    to {
        opacity: 0;
        width: 0;
    }
}

@keyframes hide-text {
    to {
        transform: translateY(-4rem);
        opacity: 0;
    }

    from {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes show-text {
    from {
        transform: translateY(-4rem);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-left {
    from {
        transform: translateX(15rem);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-right {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(15rem);
        opacity: 0;
    }
}

@keyframes go-right {
    from {
        left: 0;
        right: 100%;
    }
    40% {
        left: 0;
        right: 0;
    }
    60% {
        left: 0;
        right: 0;
    }
    to {
        left: 100%;
        right: 0;
    }
}

@keyframes go-bottom {
    from {
        top: 0;
        bottom: 100%;
    }
    40% {
        top: 0;
        bottom: 0;
    }
    60% {
        top: 0;
        bottom: 0;
    }
    to {
        top: 100%;
        bottom: 0;
    }
}
