.loader {
    width: 30rem;
    margin: 0;
    padding: 0;
}

.loader-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sand {
    fill: $deeper-accent;
    position: absolute;
}
.sand-line {
    fill: none;
    stroke-miterlimit: 10;
    stroke: $deeper-accent;
    stroke-width: 8px;
    stroke-linecap: round;
}

.hourglass-overlay {
    fill: $base-white;
}

.upper-overlay {
    fill: #d2d2d1;
}

#background {
    fill: $base-white;
}
