.google-map {
    width: calc(50vw - 5rem);
    height: 65vh;
    margin-top: -2rem;

    @media (max-width: 800px), (max-width: 1025px) and (min-height: 1365px) {
        width: 90vw;
        margin-top: 2rem;
        height: 45vh;
    }
}

.pin {
    display: flex;
    align-items: center;
    width: 180px;

    @media (max-width: 800px), (max-width: 1025px) and (min-height: 1365px) {
        width: 300px;
    }
}

.pin-icon {
    width: 1.2rem;
    @media (max-width: 1025px) {
        width: 1.5rem;
    }

    @media (max-width: 800px), (max-width: 1025px) and (min-height: 1365px) {
        width: 2.5rem;
    }
}

.pin-text {
    margin-left: 0.5rem;
    font-size: 1rem;
    -webkit-text-stroke: 0.2px $base-white;
    color: $base-black;

    @media (max-width: 1025px) {
        font-size: 1.2rem;
    }

    @media (max-width: 800px), (max-width: 1025px) and (min-height: 1365px) {
        font-size: 2.8rem;
    }
}
