.modal__overlay {
    width: 100vw;
    height: 100vh;
    background: scale-color($base-black, $alpha: -40%);
    z-index: 100;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    animation: appear 1s ease-in;
}

.modal__window {
    width: 60%;
    height: 70%;
    background: $base-white;
    position: relative;
    display: flex;
    align-items: center;
    opacity: 0;
    overflow: hidden;
    animation: extend-height 1s linear 0.5s forwards;

    @media (max-width: 800px), (max-width: 1025px) and (min-height: 1365px) {
        flex-flow: column nowrap;
        width: 80%;
    }

    @media (max-width: 600px) {
        width: 100%;
        height: 100%;
    }
}

.modal__img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
    opacity: 0;
    transform: translateX(-10rem);
    animation: slide-in 1s linear 1.5s forwards;

    @media (max-width: 800px), (max-width: 1025px) and (min-height: 1365px) {
        width: 100%;
        height: 50%;
    }
}

.modal__text {
    position: relative;
    width: 80%;
    color: $base-black;
    margin: -6rem 3rem 0 3rem;
    opacity: 0;
    transform: translateX(10rem);
    animation: slide-in 1s linear 1.5s forwards;

    @media (max-width: 955px), (max-width: 1025px) and (min-height: 1365px) {
        margin: 0 3rem;
    }
}

.modal__title {
    color: $deeper-accent;
    font-size: 3rem;
    position: relative;
    display: block;

    @media (max-width: 1275px) {
        font-size: 4rem;
    }

    @media (max-width: 955px), (max-width: 1025px) and (min-height: 1365px) {
        font-size: 5rem;
    }

    @media (max-width: 600px) {
        font-size: 6rem;
    }

    &:after {
        width: 100%;
        height: 2px;
        background-color: $base-black;
        content: '';
        position: absolute;
        display: block;
        bottom: -0.5rem;
        left: 0;
    }
}

.modal__description {
    font-size: 1.3rem;
    margin-top: -1.5rem;
    text-align: justify;
    text-justify: inter-word;

    @media (max-width: 1275px) {
        font-size: 2rem;
    }

    @media (max-width: 955px), (max-width: 1025px) and (min-height: 1365px) {
        font-size: 2.6rem;
    }

    @media (max-width: 600px) {
        font-size: 3rem;
    }
}

.modal__button {
    position: absolute;
    height: 4rem;
    right: 2rem;
    top: 2rem;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    z-index: 101;

    @media (max-width: 800px), (max-width: 1025px) and (min-height: 1365px) {
        height: 8rem;
    }
}

.modal__button-cross {
    position: relative;
    background: $base-black;
    height: 0.4rem;
    width: 3.5rem;

    &:before {
        position: absolute;
        background: $base-black;
        height: 0.4rem;
        width: 3.5rem;
        content: '';
        right: 0;
        top: 0;
        transform: rotate(90deg);
    }
    transform: rotate(45deg);

    @media (max-width: 800px), (max-width: 1025px) and (min-height: 1365px) {
        background: $base-white;
        height: 0.8rem;
        width: 7rem;

        &:before {
            background: $base-white;
            height: 0.8rem;
            width: 7rem;
        }
    }
}
