.nav-bar {
    position: fixed;
    padding: 1rem;
    width: 100%;
    z-index: 5;
}

.nav__menu-button {
    position: relative;
    border: none;
    outline: none;
    background-color: $base-black;
    color: $base-white;
    width: 14rem;
    height: 4rem;
    font-size: 2.5rem;
    text-align: left;
    padding-left: 2rem;
    overflow: hidden;
}

.nav__hamburger-menu {
    position: absolute;
    background-color: $base-white;
    content: '';
    width: 3rem;
    height: 0.3rem;
    right: 1rem;
    top: 1rem;

    &::before,
    &::after {
        position: absolute;
        background-color: $base-white;
        content: '';
        width: 3rem;
        height: 0.3rem;
    }

    &::before {
        top: 0.8rem;
    }

    &::after {
        top: 1.6rem;
        height: 0.35rem;
    }
}

.nav__logo-container {
    position: absolute;
    border: none;
    outline: none;
    background-color: $base-black;
    width: 4rem;
    height: 4rem;
    margin-left: 2rem;
    right: 1rem;
}

.nav__logo {
    position: relative;
    width: 2.5rem;
}

.nav__cls-2 {
    fill: $accent;
}
