.sale {
    width: 100%;
    height: 100%;
    background: url(../images/sale-bg.jfif);
    background-color: $primary-color;
    background-blend-mode: luminosity, normal;
    background-attachment: fixed;
    color: $base-white;

    @media (min-width: 1921px) {
        background-size: 150vw;
    }
}

.sale__title {
    padding-top: 15rem;
    margin-top: 0;
    margin-left: 4rem;
}

.sale__accent-line {
    margin-left: 8rem;
    margin-top: -2rem;
    width: 20rem;
    & > line {
        stroke: $accent;
        stroke-width: 8;
    }
}

.sale__all-sales {
    display: grid;
    width: 100%;
    gap: 2rem;
    grid-template-areas: 'furniture clocks books';
    justify-items: center;

    @media (max-width: 900px) {
        gap: 5rem;
        margin-top: -12rem;
        grid-template-areas:
            'furniture clocks'
            'books .';
    }

    @media (max-width: 600px) {
        grid-template-areas:
            'furniture'
            'clocks'
            'books';
    }

    @media (max-width: 320px) {
        margin-top: -15rem;
    }
}

.sale-single:nth-of-type(1) {
    grid-area: furniture;
}

.sale-single:nth-of-type(2) {
    grid-area: clocks;
}

.sale-single:nth-of-type(3) {
    grid-area: books;
}

.sale__single {
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.sale__category-text,
.sale__date-text {
    background: $primary-color;
    padding: 1rem;
    margin: 0.5rem;
    -webkit-box-shadow: 1px 28px 42px 5px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 1px 28px 42px 5px rgba(0, 0, 0, 0.34);
    box-shadow: 1px 28px 42px 5px rgba(0, 0, 0, 0.34);
}

.sale__category-text {
    min-width: 15rem;
    font-size: 1.3rem;

    @media (max-width: 1275px) {
        min-width: 20rem;
        font-size: 2rem;
    }

    @media (max-width: 955px) {
        min-width: 25rem;
        font-size: 2.7rem;
    }
}

.sale__date-text {
    background: $deeper-accent;
    min-width: 22rem;
    font-size: 1.2rem;
    color: scale-color($base-white, $alpha: -20%);

    @media (max-width: 1275px) {
        min-width: 27rem;
        font-size: 1.7rem;
    }

    @media (max-width: 955px) {
        min-width: 32rem;
        font-size: 2.4rem;
    }
}

[class*='sale__icon-'] {
    width: 7rem;

    @media (max-width: 1275px) {
        min-width: 12rem;
    }

    @media (max-width: 955px) {
        min-width: 14rem;
    }
}

.animatedBackground-in {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 110vh;
    padding: 0;
    margin: 0;

    > span {
        width: 5%;
        left: 0;
    }
    > span:nth-child(2) {
        left: 5%;
    }
    > span:nth-child(3) {
        left: 10%;
    }
    > span:nth-child(4) {
        left: 15%;
    }
    > span:nth-child(5) {
        left: 20%;
    }
    > span:nth-child(6) {
        left: 25%;
    }
    > span:nth-child(7) {
        left: 30%;
    }
    > span:nth-child(8) {
        left: 35%;
    }
    > span:nth-child(9) {
        left: 40%;
    }
    > span:nth-child(10) {
        left: 45%;
    }
    > span:nth-child(11) {
        width: 6%;
        left: 49%;
    }
    > span:nth-child(12) {
        left: 55%;
    }
    > span:nth-child(13) {
        left: 60%;
    }
    > span:nth-child(14) {
        left: 65%;
    }
    > span:nth-child(15) {
        left: 70%;
    }
    > span:nth-child(16) {
        left: 75%;
    }
    > span:nth-child(17) {
        left: 80%;
    }
    > span:nth-child(18) {
        left: 85%;
    }
    > span:nth-child(19) {
        left: 90%;
    }
    > span:nth-child(20) {
        left: 95%;
    }
}

.animatedBackground {
    .sale {
        opacity: 0;
    }

    > span {
        position: absolute;
        display: block;
        background: $primary-color;
    }
}

.animatedBackground-in {
    > .sale {
        opacity: 1;
        transition-delay: 2.05s;
    }

    > span {
        animation: go-bottom 3s;
        animation-delay: 0.1s;
    }
    > span:nth-child(2) {
        animation-delay: 0.15s;
    }
    > span:nth-child(3) {
        animation-delay: 0.2s;
    }
    > span:nth-child(4) {
        animation-delay: 0.25s;
    }
    > span:nth-child(5) {
        animation-delay: 0.3s;
    }
    > span:nth-child(6) {
        animation-delay: 0.35s;
    }
    > span:nth-child(7) {
        animation-delay: 0.4s;
    }
    > span:nth-child(8) {
        animation-delay: 0.45s;
    }
    > span:nth-child(9) {
        animation-delay: 0.5s;
    }
    > span:nth-child(10) {
        animation-delay: 0.55s;
    }
    > span:nth-child(11) {
        animation-delay: 0.6s;
    }
    > span:nth-child(12) {
        animation-delay: 0.65s;
    }
    > span:nth-child(13) {
        animation-delay: 0.7s;
    }
    > span:nth-child(14) {
        animation-delay: 0.75s;
    }
    > span:nth-child(15) {
        animation-delay: 0.8s;
    }
    > span:nth-child(16) {
        animation-delay: 0.85s;
    }
    > span:nth-child(17) {
        animation-delay: 0.9s;
    }
    > span:nth-child(18) {
        animation-delay: 0.95s;
    }
    > span:nth-child(19) {
        animation-delay: 1s;
    }
    > span:nth-child(20) {
        animation-delay: 1.05s;
    }
}
