@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

$special-font: 'Cormorant SC', serif;
$regular-font: 'Raleway', sans-serif;
$base-white: #efefef;
$base-black: #3a3335;
$primary-color: #794f3f;
$accent: #86b0c0;
$deeper-accent: #086375;
